src/main/mule/u-amazon-mq.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="amazon-mq-http" doc:name="HTTP Listener config" doc:id="25bad0cf-51d5-4294-8268-27b8aa2df04d" >
		<http:listener-connection host="localhost" port="8083" />
	</http:listener-config>
	<jms:config name="AmazonMQ" doc:name="JMS Config" doc:id="825e8c79-2277-4ca2-9275-4be1c62bceb1" >
		<jms:active-mq-connection username="ghosharijit86" password="Hello@123456" >
			<jms:factory-configuration brokerUrl="ssl://b-617432cc-09de-4cab-bc52-ad93d3438f4d-1.mq.ap-southeast-2.amazonaws.com:61617" />
		</jms:active-mq-connection>
	</jms:config>
	<file:config name="file-write" doc:name="File Config" doc:id="15d71c43-fb5f-4eb6-8c91-34ea2ad4a25d" >
	</file:config>
	<flow name="u-amazon-mqFlow" doc:id="273c86f7-ef4e-476f-9749-5212d9adb762" >
		<http:listener doc:name="Listener" doc:id="3d48a6fd-084c-448a-86e9-3145f674d2e2" config-ref="amazon-mq-http" path="/api/mq/*"/>
		<jms:publish doc:name="Publish" doc:id="e9948fdd-8bb4-4c83-9d12-470ed4265751" config-ref="AmazonMQ" destination="dev-topic" sendCorrelationId="ALWAYS" persistentDelivery="false" destinationType="TOPIC"/>
		<logger level="INFO" doc:name="Logger" doc:id="f6442a3c-80dc-45d0-8509-3cf1a700961f" message='published topic'/>
	</flow>
	<flow name="u-amazon-mqFlow1" doc:id="958e2edf-da5e-4988-8798-0b87514a82ae" >
		<http:listener doc:name="Listener" doc:id="13d8e8e4-d8e9-47cb-b67e-20cc203bbdd0" config-ref="amazon-mq-http" path="/api/consume/*"/>
		<logger level="INFO" doc:name="Logger" doc:id="e4bac134-4b89-4806-b4f8-2133d5abd424" message='#[payload]++" Arijit"'/>
	</flow>
	<flow name="u-amazon-mqFlow2" doc:id="ec57b7e3-8553-4b9a-83dc-511d25d81b8a" >
		<jms:listener doc:name="On New Message" doc:id="3411706e-8c64-439c-8b3a-15eacd95d73e" config-ref="AmazonMQ" destination="dev-topic" numberOfConsumers="1">
			<jms:consumer-type >
				<jms:topic-consumer />
			</jms:consumer-type>
			<jms:response sendCorrelationId="ALWAYS" >
				<jms:body ><![CDATA[{
	"status" : "received"
}	]]></jms:body>
			</jms:response>
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="7f3ee874-12da-4947-be27-0bb014aeef25" message="#[payload]"/>
		<set-payload value="received" doc:name="Set Payload" doc:id="7a3069b6-0bbe-410c-b93e-2a28be14abe1" />
		<logger level="INFO" doc:name="Logger" doc:id="96943cae-eacd-4baa-b3e8-be8a67a0a05c" message="#[payload]"/>
	</flow>
</mule>
